    @font-face {
        font-family: 'Belgates Script';
        src: url('fonts/Belgates Script.ttf') format('truetype');
    }

.wrapper {
    display: grid;
  }

.heading {
    display: flex;
    justify-content: center;
    font-family: Belgates Script;
    font-size: 70px;
    color: white;
}

body {
    background-color: black;
}

li {
    display: inline;
    justify-content: left;
    padding: 25px;
    font-family: Belgates Script;
    font-size: 45px;
}

li a {
    text-decoration: none;
    color: white;
}







