/* HOME */
@font-face {
    font-family: 'Belgates Script';
    src: url('fonts/Belgates Script.ttf') format('truetype');
}

@keyframes slide {
    0% {
        background-image: url('images/DSC_0313.jpg');
    }
    25% {
        background-image: url('images/DSC_0238.JPG');
    }
    50% {
        background-image: url('images/DSC_0318.JPG');
    }
    75% {
        background-image: url('images/me.jpeg');
    }
    100% {
        background-image: url('images/me 2.jpeg');
    }
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top .taskbar {
    color: grey;
}

.top .taskbar li {
    display: inline;
    padding: 30px;
    font-family: Belgates Script;
    font-size: 35px;
    order: 1;
}

.top .taskbar li a {
    text-decoration: none;
    color: white;
}

#index {  
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: slide;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* END OF HOME */

/* ABOUT */
.container {
    /* A template column or row set to auto will adjust to the elements put inside of the rows or columns. */
    display: grid;
    grid-template-columns: [col1Start] auto [col1End] auto [col2End];
    grid-template-rows: [headingStart] auto [headingEnd] auto [otherEnd];
}

/* Set as a class so that table attributes can be edited seperately. */
.factsTable {
    display: inline-block;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 30px;
    color: black;
    grid-area: headingEnd / col1Start / otherEnd / col1End;
}

#tableTitle {
    font-family: Belgates Script;
    font-size: 50px;
}

#titleTop {
    font-family: Belgates Script;
    font-size: 70px;
    color: white;
    order: 0;
}

#aboutHeader {
    font-family: Belgates Script;
    font-size: 70px;
    color: black;
    justify-self: center;
    grid-area: headingStart / col1Start / headingEnd / col2End;
}
/* END OF ABOUT */



















