/* HOME */
@font-face {
    font-family: 'Belgates Script';
    src: url('fonts/Belgates Script.ttf') format('truetype');
}

@keyframes slide {
    0% {
        background-image: url('images/DSC_0313.jpg');
    }
    25% {
        background-image: url('images/DSC_0238.JPG');
    }
    50% {
        background-image: url('images/DSC_0318.JPG');
    }
    75% {
        background-image: url('images/me.jpeg');
    }
    100% {
        background-image: url('images/me 2.jpeg');
    }
}

.containerTop {
    display: grid;
    grid-template-columns: [titleStart] 1fr [titleStop] 1fr [navEnd];
    grid-template-rows: [rowTop] auto [rowTopEnd] auto [rowLastEnd];
}

.navMenu {
    grid-area: rowTop / titleStop / rowTopEnd / navEnd;
    justify-self: end;
}

.navMenu ul li {
    display: inline-block;
    padding: 20px;
    padding-block: 0px;
    font-family: Belgates Script;
    font-size: 45px;
    color: white;
}

.navMenu ul li a {
    text-decoration: none;
    color: white;
}

.navMenu ul li a:hover {
    color: grey;
    transition: .25s ease;
}

/* Socials layout is still bugged :( */
.socials a img {
    width: 64px;
    height: 64px;
    justify-content: center;
}

#instaPNG {
    /* Had to seperate this for weird reasons but it still works nonetheless */
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
}

#index {  
    background-image: url('images/DSC_0313.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: slide;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#titleTop {
    grid-area: rowTop / titleStart / rowTopEnd / titleStop;
    justify-self: start;
    font-family: Belgates Script;
    font-size: 60px;
    color: white;
}

/* MOBILE ADJUSTMENT */
@media screen and (max-width: 1120px)
{
    #index {
        animation-name: none;
        background-image: none;
        background-color: rgb(223, 165, 58);
    }

    #titleTop {
        grid-area: rowTop / titleStart / rowTopEnd / navEnd;
        justify-self: center;
        font-size: 50px;
    }
    
    .navMenu {
        grid-area: rowTop / titleStart / rowTopEnd / navEnd;
        justify-self: center;
        padding-top: 80px;
    }
}
/* END OF HOME */

/* ABOUT */
.containerAbout {
    /* A template column or row set to auto will adjust to the elements put inside of the rows or columns. */
    display: grid;
    grid-template-columns: [col1Start] 1fr [col1End] 1fr [col2Start] 1fr [col2End];
    grid-template-rows: [headingStart] auto [headingEnd] 1fr [bottomStart1] auto [bottomEnd1] auto [bottomStart2] auto [bottomEnd2];
}

/* Set as a class so that table attributes can be edited seperately. Having an issue grouping stuff together stil, as of Friday this week. */
.interests {
    grid-area: headingEnd / col1Start / bottomStart1 / col2End;
    display: inline-block;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 30px;
    color: white;
    background-color: gray;
    border-radius: 100px;
    padding: 10px;
    margin-bottom: 7px;
}

.interests img {
    padding-left: 20px;
    padding-right: 20px;
    width: 64px;
    height: 64px;
}

.interests tr {
    text-align: center;
}

.whereFrom {
    grid-area: bottomStart1 / col1Start / bottomEnd1 / col2End;
    display: inline-block;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 30px;
    color: white;
    background-color: gray;
    border-radius: 100px;
    padding: 10px;
    margin-bottom: 7px;
}

.whereFrom img {
    padding-left: 20px;
    padding-right: 20px;
    width: 64px;
    height: 64px;
}

.whereFrom tr {
    text-align: center;
}

.hobbies {
    grid-area: bottomStart2 / col1Start / bottomEnd2 / col2End;
    display: inline-block;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 30px;
    color: white;
    background-color: gray;
    border-radius: 100px;
    padding: 10px;
    margin-bottom: 7px;
}

.hobbies img {
    padding-left: 20px;
    padding-right: 20px;
    width: 64px;
    height: 64px;
}

.hobbies tr {
    text-align: center;
}

#tableTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#about {
    background-color: rgb(70, 158, 187);
}

#top {
    grid-area: headingStart / col1Start / headingEnd / col3End;
    font-family: Belgates Script;
    font-size: 90px;
    color: white;
    background-color: gray;
    border-radius: 100px;
    padding-inline: 70px;
    justify-self: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
/* END OF ABOUT */

/* PORTFOLIO */
.containerPortfolio {
    display: grid;
    grid-template-columns: [cStart] 1fr [finish];
    grid-template-rows: repeat(5, 1fr);
    row-gap: 7px;
}

.line1 {
    background-color: gray;
    border-radius: 100px;
}

.line2 {
    background-color: gray;
    border-radius: 100px;
}

.line3 {
    background-color: gray;
    border-radius: 100px;
}

.line4 {
    background-color: gray;
    border-radius: 100px;
}

.line5 {
    background-color: gray;
    border-radius: 100px;
}

#portfolio {
    background-color: rgb(22, 172, 89);
}

#topPortfolio {
    font-family: Belgates Script;
    font-size: 90px;
    color: white;
    background-color: gray;
    border-radius: 100px;
    padding-inline: 70px;
    justify-self: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
/* END OF PORTFOLIO */

/* RESUME */
.containerResume {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 7px;
}

.education {
    grid-area: 2 / 1 / 5 / 2;
    background-color: gray;
    border-radius: 100px;
}

.workExperience {
    grid-area: 2 / 2 / 3 / 3;
    background-color: gray;
    border-radius: 100px;
}

.skills {
    grid-area: 3 / 2 / 5 / 3;
    background-color: gray;
    border-radius: 100px;
}

#resume {
    background-color: rgb(214, 50, 50);
}

#topResume {
    grid-area: 1 / 1 / 2 / 3;
    font-family: Belgates Script;
    font-size: 90px;
    color: white;
    background-color: gray;
    border-radius: 100px;
    padding-inline: 70px;
    justify-self: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
/* END OF RESUME */

/* EXTRA STUFF NOT USED BUT THAT I MADE FOR THE SITE */
@keyframes slideColor {
    0% {
        background-color: red;
    }
    10% {
        background-color: orange;
    }
    20% {
        background-color: lightgoldenrodyellow;
    }
    30% {
        background-color: lightgreen;
    }
    40% {
        background-color: lightseagreen;
    }
    50% {
        background-color: lightskyblue;
    }
    60% {
        background-color: lightblue;
    }
    70% {
        background-color: lightpink;
    }
    80% {
        background-color: purple;
    }
    90% {
        background-color: magenta;
    }
    100% {
        background-color: lightcoral;
    }

}
/* END OF EXTRA STUFF */















